body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.bg-image {
    background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.countdown div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown span:first-child {
    font-size: 40px;
}
